@import "src/app/components/App/App";

.alert{
  border-radius: $my-b-r !important;
}
.custom-accordion {
  border: none !important;
  padding: 0 8rem;
}

.app .accordion-header .accordion-button, .modal .accordion-header .accordion-button {
  border-radius: $my-b-r !important;
}

.job {

  &-card {
    padding: 1rem;

  }

  &-btn {
    display: flex;
    justify-content: space-between;
    &-item {

    }
  }

  &-body {
    display: flex;
    justify-content: space-between;
  }
}
